.form-input-group {
  font-size: 0.7rem;
  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    &__label {
      text-transform: capitalize;
      color: var(--black);
      font-weight: 500;
      &--error {
        color: var(--input-error);
      }
    }
    &__error {
      color: var(--input-error);
      font-weight: 300;
    }
  }
  &__input {
    width: 100%;
    padding: 15px 10px;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    margin-bottom: 1rem;
    &::placeholder {
      color: var(--placeholder);
      font-weight: 600;
    }
    &--error {
      border: 1px solid var(--input-error);
    }
  }
  @media screen and (min-width: 40rem) {
  font-size: 0.9rem;
  }
}
