.promotion {
  position: relative;
  margin-top: 10rem;
  overflow: hidden;
  &__image {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  &__details {
    text-align: center;
    h2 {
      font-size: 2rem;
      text-transform: uppercase;

      span {
        color: var(--accent);
      }
    }
    p {
      font-size: 1rem;
      font-weight: 200;
      line-height: 30px;
    }
  }
  @media screen and (min-width: 40rem) and (max-width: 62rem) {
    &__image {
      width: 100%;
      height: 300px;
    }
    &__details {
      width: 85%;
      margin: 0 auto;
      p {
        margin: 0 auto;
        width: 85%;
      }
    }
  }
  @media screen and (min-width: 62rem) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 8rem;
    &__image {
      object-fit: cover;
      max-width: 100%;
      height: 600px;
    }
    &__details {
      width: 80%;
      text-align: start;
      h2 {
        font-size: 2.5rem;
      }
    }
  }
}
