@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --bg: #fafafa;
  --accent: #c5703e;
  --accent-light: #e18e62;
  --gray: #f1f1f1;
  --white: #fff;
  --black: #191919;
  --overlay: #00000086;
  --text: #6a6a6a;
  --text-light: #c6c6c6b1;
  --input-error: #cd2c2c;
}
html,
body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  background-color: var(--bg);
  overflow: auto;

  @media screen and (min-width: 765px) {
  }
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0rem 1rem;
  @media screen and (min-width: 1200px) {
    padding: 0rem;
  }
}

* {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}
.pre-loader {
  width: 100%;
  height: 300px;
}
