.header {
  height: 5.6rem;
  position: absolute;
  z-index: 10;
  width: 100%;
  background-color: var(--black);
  .wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--divider);
  }
  &__navigation {
    display: none;
  }
  &__cart-button {
    background-color: transparent;
    svg {
      height: 15px;
      width: 20px;
      path {
        fill: var(--white);
      }
    }
  }

  @media screen and (min-width: 40rem) and (max-width: 62rem) {
    .wrapper {
      justify-content: left;
      gap: 3rem;
    }
    &__brand {
      margin-right: auto;
    }
  }
  @media screen and (min-width: 62rem) {
    &__navigation {
      display: flex;
    }
  }
}
