.cart-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  &__product {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    padding: 0.3rem;
    border-radius: 10px;
    background-color: transparent;
    &__image {
      width: 65px;
      height: 65px;
      border-radius: 10px;
      object-fit: cover;
    }

    &__details {
      margin-left: 1rem;
      text-align: start;
      h4 {
        color: var(--black);
        margin: 0rem;
        font-size: 1rem;
      }
      p {
        color: var(--text);
        margin: 0;
      }
    }
    &:hover {
      background-color: var(--bg);
    }
  }
  &__quantity {
    width: 80px;
    button {
      padding: 6px;
    }
  }
}
